.contact-section {
    padding: 10rem 0;
    background-color: $gray-200;

    h2 + p {
        font-size: 1.25rem;
    }

    .form {
        input, textarea {
            box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
            padding: 1.25rem 2rem;
            height: auto;
            font-family: "Varela Round";
            letter-spacing: 0.1rem;
            border: 0;
        }
    }
}
